<!--The whole content  below can be removed with the new code.-->


<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <router-outlet></router-outlet> <!-- Esta instrucción le dice a Angular que cambie de acuerd a la ruta lo despliegue aquí. -->
        </div>
    </div>
</div>






